<div id="pageInfo" data-title="公告详情"></div>

<section class="article_header">
    <h1 class="title">{$this->noticeRow['title']}</h1>
    <div class="date">发布日期：{$this->noticeRow['time']}</div>
</section>
<article class="article_detail">
    {$this->noticeRow['content']}
</article>
<script>
$(function(){
    // 隐藏底部导航
    hideNav();
    $(".article_detail").find('*').each(function(){
        var t = $(this);
        if (t.attr("style")){t.attr("style","")};
        if (t.attr("width")){t.attr("width","")};
        if (t.attr("height")){t.attr("height","")};
        t.html(t.html().replace(/\&nbsp;/g,""));
    });
});
</script>
