<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="noindex,nofollow">
<title>单据打印</title>
{js:jquery}
<link rel="shortcut icon" href="{webroot:favicon.ico}" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="{webroot:public/css/twitter-bootstrap/4.1.3/css/bootstrap.min.css}">
</head>

<body>
	{viewcontent}
</body>
</html>