<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="home-icon fa fa-home"></i>
			<a href="#">营销</a>
		</li>
		<li>
			<a href="#">营销活动管理</a>
		</li>
		<li class="active">团购</li>
	</ul>
</div>
<div class="content">
	<form method='post' action='{url:/market/regiment_del}'>
		<table class="table list-table">
			<colgroup>
				<col width="35px" />
				<col  />
				<col width="320px" />
				<col width="80px" />
				<col width="80px" />
				<col width="90px" />
				<col width="90px" />
			</colgroup>
			<caption>
                <a class="btn btn-default" href='{url:/market/regiment_edit}'>
                    <i class="fa fa-plus"></i>添加团购
                </a>
                <a class="btn btn-default" onclick="selectAll('id[]')">
                    <i class="fa fa-check"></i>全选
                </a>
                <a class="btn btn-default" onclick="delModel()">
                    <i class="fa fa-close"></i>批量删除
                </a>
                <a href="{url:/site/groupon}" class="btn btn-default" >
                    <i class="fa fa-eye"></i>查看团购
                </a>
			</caption>
			<thead>
				<tr>
					<th></th>
					<th>标题</th>
					<th>团购时间</th>
					<th>排序</th>
					<th>状态</th>
					<th>销售情况</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
		        {set:$queryObj=Api::run('getListByRegiment');$resultData=$queryObj->find()}
                {foreach:items=$resultData}
				{set:$seller_id = $item['seller_id']}
				{set:$sellerRow = Api::run('getSellerInfo',$seller_id)}
				<tr>
					<td><input type='checkbox' name='id[]' value='{$item['id']}' /></td>
					<td><a href='{url:/site/groupon/id/$item['id']}' target='_blank'  title="{$item['title']}">{$item['title']} 【{if:isset($sellerRow['true_name'])}{$sellerRow['true_name']}{else:}平台自营{/if}】</a></td>
					<td>{$item['start_time']} ～ {$item['end_time']}</td>
					<td>{$item['sort']}</td>
					<td>{echo:active::statusRegiment($item)}</td>
					<td>{$item['sum_count']}/{$item['store_nums']}</td>
					<td>
						<a href='{url:/market/regiment_edit/id/$item['id']}'>
							<i class='operator fa fa-edit'></i>
						</a>

						<a href='javascript:void(0)' onclick="delModel({link:'{url:/market/regiment_del/id/$item['id']}'});">
							<i class='operator fa fa-close'></i>
						</a>
					</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</form>
</div>
{$queryObj->getPageBar()}
