<header class="uc_head">
	<h3><a href="{url:/ucenter/refunds}">{echo:ILang::get('我的退款')}</a></h3>
	<h3 class="current"><a href="{url:/ucenter/exchange}">{echo:ILang::get('我的换货')}</a></h3>
	<h3><a href="{url:/ucenter/fix}">{echo:ILang::get('我的维修')}</a></h3>
</header>

<section class="uc_table">
	<table>
		<thead>
			<tr><th>{echo:ILang::get('换货订单')}</th><th>{echo:ILang::get('申请时间')}</th><th>{echo:ILang::get('处理状态')}</th><th>{echo:ILang::get('操作')}</th></tr>
		</thead>
		<tbody>
		{set:$queryExchangeDocList = Api::run('getExchangeDocList')}
		{foreach:items = $queryExchangeDocList->find()}
		<tr>
			<td>{$item['order_no']}</td>
			<td>{$item['time']}</td>
			<td>{echo:Order_Class::refundmentText($item['status'])}</td>
			<td>
				{if:$item['status']==0}<a href='javascript:delModel({link:"{url:/ucenter/exchange_del/id/$item['id']}"})'>{echo:ILang::get('取消')}</a>|{/if}
				<a href="{url:/ucenter/exchange_detail/id/$item['id']}">{echo:ILang::get('查看')}</a>
			</td>
		</tr>
		{/foreach}
		</tbody>
	</table>
</section>
{$queryExchangeDocList->getPageBar()}

{if:!$items}
<section class="no_tip">{echo:ILang::get('暂无数据')}</section>
{/if}