
<header class="uc_head">
	<h3>{echo:ILang::get('密码管理')}</h3>
</header>
<section class="user_form">
	<form action='{url:/ucenter/password_edit}' method='post'>
		<dl>
			<dt>{echo:ILang::get('原有密码')}：</dt>
			<dd>
				<input class="input_text" name='fpassword' type="password" pattern="required" >
				<span>{echo:ILang::get('原密码')}</span>
			</dd>
		</dl>
		<dl>
			<dt>{echo:ILang::get('设置密码')}：</dt>
			<dd>
				<input class="input_text" type="password" name='password' pattern="^\S{6,32}$" bind='repassword' >
				<span>{echo:ILang::get('密码由英文字母数字组成')}</span>
			</dd>
		</dl>
		<dl>
			<dt>{echo:ILang::get('确认密码')}：</dt>
			<dd>
				<input class="input_text" type="password" name='repassword' pattern="^\S{6,32}$" bind='password' >
				<span>{echo:ILang::get('重复上面所填写的密码')}</span>
			</dd>
		</dl>
		<dl>
			<dt></dt>
			<dd><input class="input_submit" type="submit" value="{echo:ILang::get('修改密码')}" /></dd>
		</dl>
	</form>
</section>