
<header class="uc_head">
	<h3>密码管理</h3>
</header>
<section class="user_form">
	<form action='{url:/ucenter/password_edit}' method='post'>
		<dl>
			<dt>原有密码：</dt>
			<dd>
				<input class="input_text" name='fpassword' type="password" pattern="required" alt="请输入原有密码">
				<span>原密码</span>
			</dd>
		</dl>
		<dl>
			<dt>设置密码：</dt>
			<dd>
				<input class="input_text" type="password" name='password' pattern="^\S{6,32}$" bind='repassword' alt='密码由英文字母、数字组成，长度6-32位'>
				<span>密码由英文字母、数字组成，长度6-32位</span>
			</dd>
		</dl>
		<dl>
			<dt>确认密码：</dt>
			<dd>
				<input class="input_text" type="password" name='repassword' pattern="^\S{6,32}$" bind='password' alt='重复上面所填写的密码'>
				<span>重复上面所填写的密码</span>
			</dd>
		</dl>
		<dl>
			<dt></dt>
			<dd><input class="input_submit" type="submit" value="修改密码" /></dd>
		</dl>
	</form>
</section>