<div id="pageInfo" data-title="密码修改"></div>

<section class="reg input_li">
	<div class="form">
		<form action="{url:/ucenter/password_edit}" method="POST" role="form">
			<ul>
				<li>
					<span class="input_item">原密码</span>
					<input type='password' name="fpassword" class="input_text" pattern="^\S{6,32}$" alt='6-16位字母数字组合'>
				</li>
				<li>
					<span class="input_item">新密码</span>
					<input type='password' name="password" class="input_text" pattern="^\S{6,32}$" bind='repassword' alt='6-16位字母数字组合'>
				</li>
				<li>
					<span class="input_item">确认新密码</span>
					<input type='password' name="repassword" class="input_text" pattern="^\S{6,32}$" bind='password' alt='6-16位字母数字组合'>
				</li>
				<li>
					<input type="submit" class="input_submit" value="确定修改">
				</li>
			</ul>
		</form>
	</div>
</section>
<script>
$(function(){
	hideNav();
})
</script>
