{set:$goods_id = IFilter::act(IReq::get('goods_id'),'int');}

<section class="web">
	<header class="login_header">
		<h3>{echo:ILang::get('到货通知')}</h3>
		<p>{echo:ILang::get('欢迎来到我们的网站，如果您所购买的商品到货了，我们会用短信或手机通知您')}</p>
	</header>
	<section class="reg_box">
		<form action="{url:/simple/arrival_notice}" method="post">
			<input name="goods_id" type="hidden" value="{$goods_id}"/>
			<dl>
				<dt>{echo:ILang::get('邮箱地址')}：</dt>
				<dd>
					<input name="email" class="input_text" type="text" pattern='email' alt='{echo:ILang::get('请正确填写邮箱地址')}！' />
					<label>{echo:ILang::get('填写正确的邮箱板式')}</label>
				</dd>
			</dl>
			<dl>
				<dt>{echo:ILang::get('手机号码')}：</dt>
				<dd>
					<input name="mobile" class="input_text" pattern='mobi' empty type="text" />
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd><input class="input_submit" type="submit" value="{echo:ILang::get('提交')}"></dd>
			</dl>
		</form>
	</section>
</section>