
<section class="web">
	<header class="login_header">
		<h3>忘记密码</h3>
		<p>欢迎来到我们的网站，如果忘记密码，请填写下面表单来重新获取密码</p>
	</header>
	<section class="reg_box">
		<form action="{url:/simple/find_password_email}" method="post" id="mailWay">
			<dl>
				<dt>用户名：</dt>
				<dd><input name="username" class="input_text" type="text" pattern="required" alt="请输入正确的用户名"></dd>
			</dl>
			<dl>
				<dt>邮箱：</dt>
				<dd><input name="email" class="input_text" type="text" pattern="email" alt="请输入正确的邮件地址"></dd>
			</dl>
			<dl>
				<dt></dt>
				<dd><input class="input_submit" type="submit" value="找回密码" /></dd>
			</dl>
			<dl>
				<dt></dt>
				<dd><a href="javascript:changeTab()" class="link">手机短信重置密码</a></dd>
			</dl>
		</form>
		<form action="{url:/simple/find_password_mobile}" method="post" id="mobileWay" style="display:none">
			<dl>
				<dt>用户名：</dt>
				<dd><input name="username" class="input_text" type="text" pattern="required" alt="请输入正确的用户名" /></dd>
			</dl>
			<dl>
				<dt>手机号：</dt>
				<dd>
					<input name="mobile" class="input_text" type="text" pattern="mobi" alt="请输入正确的手机号" />
				</dd>
			</dl>
			<dl>
				<dt>手机验证码：</dt>
				<dd>
					<input name="mobile_code" class="input_text w100" type="text" pattern='^\w{5,10}$' />
					<input class="input_button" onclick="sendMessage()" type="button" value="获取验证码">
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd><input class="input_submit" type="submit" value="找回密码"  /></dd>
			</dl>
			<dl>
				<dt></dt>
				<dd><a href="javascript:changeTab()" class="link">电子邮件重置密码</a></dd>
			</dl>
		</form>
	</section>
</section>


<section id="fp_success" style="display:none" class="prompt_page success">
	<i class="ico"></i>
	<article>
		<strong>恭喜，请去邮箱查收邮件！</strong><br>
		<p>修改密码的地址已经发送到您的邮箱，请注意查收！</p>
		您现在可以去：<a href="{url:}">商城首页</a> <a href="{url:/ucenter/index}">用户中心</a>
	</article>
</section>



<script>
//短信和邮箱切换
function changeTab(){
	$('#mailWay').toggle();
	$('#mobileWay').toggle();
}

//发送短信码
function sendMessage(){
	var username = $('#mobileWay [name="username"]').val();
	var mobile   = $('#mobileWay [name="mobile"]').val();
	$.get("{url:/simple/send_message_mobile}",{"username":username,"mobile":mobile},function(content){
		if(content == 'success'){
			alert('发送成功，请查看您的手机');
		}else{
			alert(content);
			return;
		}
	});
}
</script>
