
<section class="web">
	<header class="login_header">
		<h3>用户注册</h3>
		<div class="go_login">
			已有{echo:$this->_siteConfig->name}帐号？请点 <a href="{url:/simple/login}">这里登录</a>
		</div>
		<p>欢迎来到我们的网站，如果您是新用户，请填写下面的表单进行注册</p>
	</header>
	<section class="reg_box">
		<form action='{url:/simple/reg_act}' method='post'>
			{if:$this->_siteConfig->reg_option == 1}
			<dl>
				<dt>邮箱：</dt>
				<dd>
					<input class="input_text" type="text" name='email' pattern="email" alt="填写正确的邮箱格式">
					<span>填写正确的邮箱格式</span>
				</dd>
			</dl>
			{/if}
			<dl>
				<dt>用户名：</dt>
				<dd>
					<input class="input_text" name='username' type="text" pattern="^[\w\u0391-\uFFE5]{2,20}$" alt="填写2-20个字符，可以为字母、数字、下划线和中文">
					<span>请填写用户名，格式为2-20个字符，可以为字母、数字、下划线和中文</span>
				</dd>
			</dl>
			<dl>
				<dt>设置密码：</dt>
				<dd>
					<input class="input_text" type="password" name='password' pattern="^\S{6,32}$" bind='repassword' alt='填写6-32个字符'>
					<span>填写登录密码，6-32个字符</span>
				</dd>
			</dl>
			<dl>
				<dt>确认密码：</dt>
				<dd>
					<input class="input_text" type="password" name='repassword' pattern="^\S{6,32}$" bind='password' alt='重复上面所填写的密码'>
					<span>重复上面所填写的密码</span>
				</dd>
			</dl>
			<dl>
				<dt>验证码：</dt>
				<dd>
					<input class='input_text w100' type='text' name='captcha' pattern='^\w{5,10}$' alt='填写图片所示的字符'>
					<img src='{url:/simple/getCaptcha}' id='captchaImg' onclick="changeCaptcha();">
				</dd>
			</dl>
			{if:$this->_siteConfig->reg_option == 3}
			<dl>
				<dt>手机号：</dt>
				<dd>
					<input class="input_text" type="text" name='mobile' pattern="mobi" alt="填写正确的手机格式">
					<span>填写正确的手机格式</span>
				</dd>
			</dl>
			<dl>
				<dt>手机验证：</dt>
				<dd>
					<input class='input_text w100' type='text' name='mobile_code' alt="" pattern='^\w{4,6}$'>
					<input class="input_button" onclick="_sendMobileCode(this);" type="button" value="获取验证码">
				</dd>
			</dl>
			{/if}
			<dl>
				<dt></dt>
				<dd><input class="input_submit" type="submit" value="现在注册" /></dd>
			</dl>
		</form>
	</section>
</section>
