
<section class="web">
	<header class="login_header">
		<h3>忘记密码</h3>
		<p>欢迎来到我们的网站，如果忘记密码，请填写下面表单来重新获取密码</p>
	</header>
	<section class="reg_box">
		<form action='{$this->formAction}' method='post'>
			<dl>
				<dt>你想要的新密码：</dt>
				<dd>
					<input type='password' class="input_text" name="password" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位'>
					<span>密码由英文字母、数字组成，长度6-32位</span>
				</dd>
			</dl>
			<dl>
				<dt>请再次输入新密码：</dt>
				<dd>
					<input type='password' class="input_text" name="repassword" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' bind='password'>
					<span>密码由英文字母、数字组成，长度6-32位</span>
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>
					<input class="input_submit" type="submit" value="修改密码">
					<input class="input_reset" type="reset" value="取消">
				</dd>
			</dl>
		</form>
	</section>
</section>
