<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="home-icon fa fa-home"></i>
			<a href="#">系统</a>
		</li>
		<li>
			<a href="#">第三方平台</a>
		</li>
		<li class="active">短信平台</li>
	</ul>
</div>

<div class="content">
	<form action="#" method="post" name='sms_conf'>
		<table class="table form-table">
			<colgroup>
				<col width="130px" />
				<col />
			</colgroup>
			<tr>
				<th>说明：</th>
				<td>
					立即接入短信平台！让您的客户把握第一手商城咨询和订单动态
					<a href="http://www.aircheng.com/notice/75-hsms" target="_blank" >如何使用？</a>
					<p>商城所用的短信内容模板在【/plugins/_hsms/_hsms.php】文件中，尽量用原始的短信模板，否则会导致短信发送延迟等问题</p>
					<p>如果想关闭某个短信发送环节，可以直接把相应方法的返回值设置为空</p>
				</td>
			</tr>
			<tr>
				<th>管理员手机号：</th>
				<td>【系统】——【网站设置】——【手机号】</td>
			</tr>
			<tr>
				<th>短信平台：</th>
				<td>
					<select name="sms_platform" class="form-control">
						<option value="zhutong">iWeb短信平台【国内】</option>
						<option value="zhutongCom">iWeb短信平台【国际】</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>商户ID：</th>
				<td><input type='text' class='form-control' name='sms_userid' alt='' /><p class="help-block">购买后分配的<用户ID></p></td>
			</tr>
			<tr>
				<th>用户名：</th>
				<td><input type='text' class='form-control' name='sms_username' pattern='required' alt='' /><p class="help-block">购买后分配的<用户帐号></p></td>
			</tr>
			<tr>
				<th>密码：</th>
				<td><input type='text' class='form-control' name='sms_pwd' pattern='required' alt='' /><p class="help-block">购买后分配的<用户账号密码></p></td>
			</tr>
			<tr>
				<th>测试手机号码：</th>
				<td><input type='text' class='form-control' name='mobile' pattern='mobi' empty alt='填写正确的手机号码' /><p class="help-block">必须先<保存>配置后，在测试短信发送的功能【可选】</p></td>
			</tr>
            <tr>
				<th></th>
				<td>
					<button type='button' class="btn btn-primary" onclick="submitConfig();">保存</button>
                    <button class='btn btn-primary' type='button' onclick="test_sendhsms(this);"><span id='testmobile'>测试短信发送</span></button>
				</td>
			</tr>
		</table>
	</form>
</div>

<script type='text/javascript'>
jQuery(function()
{
	var formobj = new Form('sms_conf');
	formobj.init({echo:JSON::encode($this->_siteConfig->getInfo())});
});

//ajax提交信息
function submitConfig()
{
	var sendData = {};
	$('select,input[name^="sms_"]').each(function()
	{
		sendData[$(this).attr('name')] = $(this).val();
	});
	$.post("{url:/system/save_conf}",sendData,function(content)
	{
		alert('保存成功');
	});
}

//测试短信发送
function test_sendhsms(obj)
{
	$('form[name="sms_conf"] input:text').each(function(){
		$(this).trigger('change');
	});

	if($('form[name="sms_conf"] input:text.invalid-text').length > 0)
	{
		return;
	}

	//按钮控制
	obj.disabled = true;
	$('#testmobile').html('正在测试发送请稍后...');

	var ajaxUrl = '{url:/system/test_sendhsms/random/@random@}';
	ajaxUrl     = ajaxUrl.replace('@random@',Math.random());

	$.getJSON(ajaxUrl,$('form[name="sms_conf"]').serialize(),function(content){
		obj.disabled = false;
		$('#testmobile').html('测试短信发送');
		alert(content.message);
	});
}
</script>