{set:$resultData=$this->comment;}
<article class="col-lg-12">
	<div class="card forms">
		<div class="card-header">
			<h3>商品评价回复</h3>
		</div>

		<div class="card-body">
			<form action="{url:/seller/comment_update}" method="post" name="comment_edit" class="form-horizontal">
				<input type="hidden" value="{$resultData['id']}" name="id" />

				<div class="form-group row">
					<label class="col-sm-2">评论人</label>
					<div class="col-sm-10">
						<a href="{url:/member/member_edit/uid/$resultData['user_id']}">{$resultData['username']}</a>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2">评价时间</label>
					<div class="col-sm-10">{$resultData['time']}</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2">评价商品</label>
					<div class="col-sm-10">
						<a href="{url:/goods/products/id/$resultData['goods_id']}" target="_blank">{$resultData['name']}</a>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2">评价内容</label>
					<div class="col-sm-10">{$resultData['contents']}</div>
				</div>

				{if:$resultData['img_list']}
				<div class="form-group row">
					<label class="col-sm-2">评价图片</label>
					<div class="col-sm-10">
						{foreach:items=JSON::decode($resultData['img_list']) item=$img}
						<a href="{url:$img}" target="_blank"><img class="img-thumbnail" style="width:120px;height:120px;" src="{url:$img}" /></a>
						{/foreach}
					</div>
				</div>
				{/if}

				<div class="form-group row">
					<label class="col-sm-2">评价分数</label>
					<div class="col-sm-10">{$resultData['point']}分</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label">回复评价</label>
					<div class="col-sm-10">
						<textarea class="form-control" name="recontents" style='height:120px;'>{$resultData['recontents']}</textarea>
						<small class="help-block-none">卖家对买家评论的回复</small>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-4 offset-sm-2">
						<input type="submit" class="btn btn-primary" value="确 定" />
						<input type="reset" class="btn btn-secondary" value="重 置" />
					</div>
				</div>
			</form>
		</div>
	</div>
</article>