{set:$msg = IReq::get('message') ? IReq::get('message') : 'ERROR'}

<div class="bigweb">
<section class="prompt_page error">
	<i class="ico"></i>
	<article>
		<strong>{echo:htmlspecialchars($msg,ENT_QUOTES)}</strong><br>
		{echo:ILang::get('您可以尝试')}：<br>
		1.{echo:ILang::get('检查刚才的输入')}<br>
		2.<a href="{url:/site/help_list}">{echo:ILang::get('帮助中心')}</a>{echo:ILang::get('寻求帮助')}<br>
		3.{echo:ILang::get('去其他地方逛逛')}：
		<a href='javascript:void(0)' onclick='window.history.go(-1);'>{echo:ILang::get('返回上一级操作')}</a> |
		<a href="{url:}">{echo:ILang::get('网站首页')}</a> |
		<a href="{url:/ucenter/order}">{echo:ILang::get('我的订单')}</a> |
		<a href="{url:/simple/cart}">{echo:ILang::get('我的购物车')}</a>
	</article>
</section>
</div>
