<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="home-icon fa fa-home"></i>
			<a href="#">工具</a>
		</li>
		<li>
			<a href="#">广告管理</a>
		</li>
		<li class="active">广告列表</li>
	</ul>
</div>
<div class="content">
	<form name='ad' method='post' action='{url:/tools/ad_del}'>
		<table class="table list-table">
			<colgroup>
				<col width="35px" />
				<col  />
				<col width="100px" />
				<col width="180px" />
				<col width="80px" />
				<col width="250px" />
				<col width="120px" />
			</colgroup>
			<caption>
                <a class="btn btn-default" href='{url:/tools/ad_edit}'>
                    <i class="fa fa-plus"></i>添加广告
                </a>
                <a class="btn btn-default" onclick="selectAll('id[]')">
                    <i class="fa fa-check"></i>全选
                </a>
                <a class="btn btn-default" onclick="delModel()">
                    <i class="fa fa-close"></i>批量删除
                </a>
			</caption>
			<thead>
				<tr>
					<th></th>
					<th>名称</th>
					<th>显示类别</th>
					<th>广告位</th>
					<th>排序</th>
					<th>开始时间 ～ 结束时间</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				{set:$queryObj=Api::run('getAdList');$resultData=$queryObj->find()}
                {foreach:items=$resultData}
				<tr>
					<td><input type='checkbox' name='id[]' value='{$item['id']}' /></td>
					<td>{$item['name']}</td>
					<td>{echo:Ad::showType($item['type'])}</td>
					<td>{$item['adp_name']}</td>
					<td>{$item['order']}</td>
					<td>{$item['start_time']} ～ {$item['end_time']} </td>
					<td>
						<a href='{url:/tools/ad_edit/id/$item['id']}'><i class='operator fa fa-edit'></i></a>
						<a href="javascript:delModel({link:'{url:/tools/ad_del/id/$item['id']}'});"><i class='operator fa fa-close'></i></a>
					</td>
				</tr>
				{/foreach}
			</tbody>
		</table>
	</form>
</div>
{$queryObj->getPageBar()}