<div class="main f_r">
	<div class="uc_title m_10">
		<label class="current"><span>个人积分</span></label>
	</div>
	<div class="box m_10">
		<p class="text">您当前的积分：<b class="brown">{$this->memberRow['point']}</b>分</p>
	</div>
	<div class="box m_10">
        <table class="list_table" width="100%" cellpadding="0" cellspacing="0">
            <colgroup>
        		<col width="200px" />
        		<col width="200px" />
        		<col />
            </colgroup>

        	<thead><tr><th>积分日期</th><th>积分</th><th>说明</th></tr></thead>
        	<tbody>
                {set:$queryPointLog = Api::run('getUcenterPointLog')}
        		{foreach:items = $queryPointLog->find()}
        		<tr>
        			<td>{$item['datetime']}</td><td>{$item['value']}分</td><td><span class="blue">{$item['intro']}</span></td>
        		</tr>
                {/foreach}
        	</tbody>
        </table>

        {$queryPointLog->getPageBar()}

        {if:!$items}
    	<div class="error f18 t_c light_gray">暂无数据</div>
    	{/if}
	</div>
</div>