<div class="main f_r">
    <div class="uc_title m_10">
        <label class="current"><span>我的退款</span></label>
		<label><span><a href="{url:/ucenter/exchange}">我的换货</a></span></label>
		<label><span><a href="{url:/ucenter/fix}">我的维修</a></span></label>
    </div>

    <div class="box m_10">
        <table class="list_table m_10" width="100%" cellpadding="0" cellspacing="0">
        	<colgroup>
                <col width="200px" />
                <col width="200px" />
                <col width="200px" />
                <col />
        	</colgroup>

            <thead>
            	<tr><th>退款订单</th><th>申请时间</th><th>处理状态</th><th>操作</th></tr>
            </thead>

			<tbody>
            {set:$queryRefundmentDocList = Api::run('getRefundmentDocList')}
	    	{foreach:items = $queryRefundmentDocList->find()}
                <tr>
                	<td>{$item['order_no']}</td>
                	<td>{$item['time']}</td>
                	<td>{echo:Order_Class::refundmentText($item['pay_status'])}</td>
                	<td>
                		{if:$item['pay_status']==0}<a class="blue" href='javascript:delModel({link:"{url:/ucenter/refunds_del/id/$item['id']}"})'>取消</a>|{/if}
                		<a class="blue" href="{url:/ucenter/refunds_detail/id/$item['id']}">查看</a>
                	</td>
                </tr>
            {/foreach}
            </tbody>
        </table>
        {$queryRefundmentDocList->getPageBar()}

        {if:!$items}
    	<div class="error f18 t_c light_gray">暂无数据</div>
    	{/if}
	</div>
</div>