<div id="pageInfo" data-title="密码重置"></div>
<section class="reg input_li">
    <div class="form">
        <form action='{$this->formAction}' method='post'>
            <ul>
                <li><input type='password' name="password" class="input_text" pattern="^\S{6,32}$" placeholder="你想要的新密码" bind='repassword' alt='6-16位字母数字组合'></li>
                <li><input type='password' name="repassword" class="input_text" pattern="^\S{6,32}$" placeholder="请再次输入新密码" bind='password' alt='6-16位字母数字组合'></li>
                <li>
                    <input type="submit" class="input_submit" value="确定修改">
                </li>
            </ul>
        </form>
    </div>
</section>
