<!-- 商品价格\品牌展示\商品属性 -->
<section class="goods_tag">
	<!--品牌展示-->
    {if:search_goods::$brandSearch}
	<dl>
		<dt><div>品牌:</div></dt>
		<dd>
			<a class="current" href="javascript:searchObj.link({'brand':''});" id='filter-brand'>不限</a>
			{foreach:items=search_goods::$brandSearch}
			<a href="javascript:searchObj.link({'brand':{$item['id']}});" id='filter-brand{$item['id']}'>{$item['name']}</a>
			{/foreach}
		</dd>
	</dl>
	{/if}
	<!--品牌展示-->
	<!--商品属性-->
	{foreach:items=search_goods::$attrSearch}
	<dl>
		<dt><div>{$item['name']}:</div></dt>
		<dd>
			<a class="current" href="javascript:searchObj.link({'attr[{$item["id"]}]':''});" id="filter-attr{$item['id']}">不限</a>
			{foreach:items=$item['value'] item=$attr}
			<a href="javascript:searchObj.link({'attr[{$item["id"]}]':'{$attr}'});" id="filter-attr{$item['id']}{$attr}">{$attr}</a>
			{/foreach}
		</dd>
	</dl>
	{/foreach}
	<!--商品属性-->
	<!--商品价格-->
	{if:search_goods::$priceSearch}
	<dl>
		<dt><div>价格:</div></dt>
		<dd>
			<a class="current" href="javascript:searchObj.link({'min_price':'','max_price':''});" id="filter-price">不限</a>
			{foreach:items=search_goods::$priceSearch}
			{set:$priceZone = explode('-',$item)}
			<a href="javascript:searchObj.link({'min_price':'{$priceZone[0]}','max_price':'{$priceZone[1]}'});" id="filter-price{$item}">{$item}</a>
			{/foreach}
			<p class="condition">
				<input type="text" name="min_price"> 至 <input type="text" name="max_price"> 元
				<button onclick="searchObj.link({'min_price':$('[name="min_price"]').val(),'max_price':$('[name="max_price"]').val()});">确定</button>
			</p>
		</dd>
	</dl>
	{/if}
	<!--商品价格-->
</section>
<!-- 商品价格\品牌展示\商品属性 -->

<!--商品排序展示-->
<section class="goods_sort">
	<h3><div>排序:</div></h3>
	<ul>
		{foreach:items=search_goods::getOrderType()}
		<li id="filter-order{$key}">
		    <a href='javascript:searchObj.link({"order":"{$key}"});'>{$item} <i class="fa fa-arrow-up" id="filter-by{$key}"></i></a>
		</li>
		{/foreach}
	</ul>
</section>
<!--商品排序展示-->

<script type='text/javascript' src='{webroot:public/javascript/searchFilter.js}'></script>
<script type='text/javascript'>var searchObj = new searchFilter({"descClassName":"fa-arrow-down","ascClassName":"fa-arrow-up"});</script>