<!--抢购正常-->
{set:$free_time = ITime::getDiffSec($time['end_time']);}
<li class="current">
	<span class="bold red2">抢购价：</span>
	<em class="price">￥<span>{$time['award_value']}</span></em>
	<span class="time" id="timeCount">
		还剩 <i class="bold red2" id='cd_hour_timeCount'>{echo:floor($free_time/3600);}</i>
		小时 <i class="bold red2" id='cd_minute_timeCount'>{echo:floor(($free_time%3600)/60);}</i>
		分 <i class="bold red2" id='cd_second_timeCount'>{echo:$free_time%60;}</i>
		秒结束
	</span>
</li>

<li>
	销售价：￥<del id="data_sellPrice">{$sell_price}</del>
</li>

<script>
//开启倒计时功能
var cd_timer = new countdown();
cd_timer.add('timeCount');
</script>