<div class="bigweb">
<section class="breadcrumb">
	<span>您当前的位置：</span> <a href="{url:}">首页</a> > <a href="{url:/site/article}">资讯列表</a> > {$this->articleRow['title']}
</section>


<section class="web">
	<section class="article_main">
		<section class="article article_infor">
			<header>
				<h1 class="article_title">{$this->articleRow['title']}</h1>
				<time class="article_date">发布日期：{$this->articleRow['create_time']}</time>
			</header>
			<article class="article_content">{$this->articleRow['content']}</article>
		</section>
		{if:$this->relationList}
		<section class="artice_goods">
			<h3>相关商品</h3>
			<ul>
				{foreach:items = $this->relationList}
				<li>
					<a href="{url:/site/products/id/$item['goods_id']}">
						<img src="{url:/pic/thumb/img/$item[img]/w/200/h/200}" alt="{$item['name']}">
						<strong>{$item['name']}</strong>
						<em>￥{$item['sell_price']}</em>
					</a>
				</li>
				{/foreach}
			</ul>
		</section>
		{/if}
	</section>
	<!-- 文章详情侧边 -->
	<aside class="article_bar">
		<!-- 资讯分类 -->
		<nav class="news_article_box">
			<h3 class="news_article_box_head">资讯分类</h3>
			<ul class="news_article_infor">
				{foreach:items=Api::run('getArticleCategoryList',10)}
				<li><a title="{$item['name']}" href="{url:/site/article/id/$item['id']}">{$item['name']}</a></li>
				{/foreach}
			</ul>
		</nav>
		<!-- 资讯分类 -->
	</aside>
	<!-- 文章详情侧边 -->
</section>
</div>
