{set:$goodsObj = search_goods::find(array('go.seller_id' => $seller_id,'category_extend_seller' => $cat_id),20);$resultData = $goodsObj->find();}
<div class="bigweb">
<section class="breadcrumb">
	<span>您当前的位置：</span> <a href="{url:}">首页</a> » <a href="{url:/site/home/id/$sellerRow['id']}">商户主页</a>
</section>

<section class="web">
	<section class="main">
		<aside class="condition_filter">
			<!-- 调用筛选 -->
			{include:_goods_list_filter}
			<!-- 调用筛选 -->
		</aside>

		<section class="goods_list">
			{if:$resultData}
			<ul>
				{foreach:items=$resultData}
				<li>
					<a target="_blank" href="{url:/site/products/id/$item['id']}">
						<img alt="{$item['name']}" src="{url:/pic/thumb/img/$item[img]/w/205/h/205}">
						<p class="goods_title"><span>{$item['name']}</span></p>
						<p class="goods_sell_price">￥{$item['sell_price']}</p>
						<p class="goods_market_price">￥{$item['market_price']}</p>
					</a>
				</li>
				{/foreach}
			</ul>
			{$goodsObj->getPageBar()}

			{else:}
			<p class="no_tip">
				对不起，没有找到相关商品
			</p>
			{/if}
		</section>
	</section>
	<aside class="bar">
		<div class="bar_box">
			<h3 class="bar_box_head">商户信息</h3>
			<div class="bar_seller">
				<h1>{$sellerRow['true_name']}</h1>
				<p><img src="{url:$sellerRow['logo']}" style="width:100%" onerror="this.src='http://www.aircheng.com/images/public/default_logo.png'" /></p>
				<div class="star_box">
					<strong class="item">评分：</strong>
					<span class="star star_{echo:statistics::gradeSeller($sellerRow['id'])}"></span>
				</div>
				<p>销量：{echo:statistics::sellCountSeller($sellerRow['id'])} 件</p>
				<p>官网：<a href="{$sellerRow['home_url']}" target="_blank">点击进入</a></p>
				<p>联系电话：{$sellerRow['phone']}</p>
				<p>所在地：{echo:join(' ',area::name($sellerRow['province'],$sellerRow['city'],$sellerRow['area']))} {$sellerRow['address']}</p>
				<p>{set:plugin::trigger("onServiceButton",$sellerRow['id'])}</p>
			</div>
		</div>

		<!--侧边栏分类-->
		{set:$catSide = Api::run('catTreeSeller',$sellerRow['id'])}
		{if:$catSide}
		<nav class="bar_box bar_goods_nav">
			<h3 class="bar_box_head">店内分类</h3>
			{foreach:items=$catSide item=$first}
			<dl>
				<dt><a href="{url:/site/home/id/$sellerRow['id']/cat/$first['id']}">{$first['name']}</a></dt>
				{foreach:items=Api::run('getSellerCategoryByParentid',array('#parent_id#',$first['id'])) item=$second}
				<dd><a href="{url:/site/home/id/$sellerRow['id']/cat/$second['id']}">{$second['name']}</a></dd>
				{/foreach}
			</dl>
			{/foreach}
		</nav>
		{/if}
		<!--侧边栏分类-->

		<div class="bar_box">
			<h3 class="bar_box_head">销售排行榜</h3>
			<ul class="bar_goods ranking">
				{foreach:items=Api::run('getGoodsListBySellerid',array('#seller_id#',$seller_id),10,'sale-')}
				<li>
					<a href="{url:/site/products/id/$item['id']}">
						<img src="{url:/pic/thumb/img/$item[img]/w/60/h/60}" alt="{$item['name']}">
						<strong>{$item['name']}</strong>
						<em>￥{$item['sell_price']}</em>
					</a>
				</li>
				{/foreach}
			</ul>
		</div>

		<div class="bar_box">
			<h3 class="bar_box_head">促销活动</h3>
			<ul class="bar_nav">
				{foreach:items=Api::run('getProrule',$seller_id)}
				<li>{$item['info']}</li>
				{/foreach}
			</ul>
		</div>

		<div class="bar_box">
			<h3 class="bar_box_head">商家推荐</h3>
			<ul class="bar_goods">
				{foreach:items=Api::run('getGoodsListBySellerid',array('#seller_id#',$seller_id),10)}
				<li>
					<a href="{url:/site/products/id/$item['id']}">
						<img src="{url:/pic/thumb/img/$item[img]/w/60/h/60}" alt="{$item['name']}">
						<strong>{$item['name']}</strong>
						<em>￥{$item['sell_price']}</em>
					</a>
				</li>
				{/foreach}
			</ul>
		</div>
	</aside>
</section>
</div>