<div class="bigweb">
<section class="prompt_page success">
	<i class="ico"></i>
	<article>
		<strong>{echo:IReq::get('message') ? IFilter::act(IReq::get('message'),'text') : ILang::get('操作成功')}</strong><br>
		{echo:ILang::get('您现在可以去')}：

		{set:$callback = plugin::trigger('getCallback')}
		{if:$callback}
		<a href="{url:$callback}">{echo:ILang::get('继续操作')} >></a>
		{/if}

		{if:$this->user['user_id']}
		<a href="{url:/ucenter/index}">{echo:ILang::get('个人中心')} >></a>
		{/if}

		<a href="{url:/site/index}">{echo:ILang::get('网站首页')} >></a>
	</article>
</section>

</div>
